fastapi
uvicorn
gunicorn
pandas
pytz
requests
sqlalchemy
python-dotenv
psycopg2-binary
passlib[bcrypt]
python-jose
alembic
xlsxwriter
pandas
openpyxl
python-multipart
bcrypt>=4.1.2
urllib3
boto3
pytesseract
pdf2image
Pillow
openai
reportlab
socksio
