@use '@/assets/styles/vars' as *;

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.modal-window {
    padding: 24px;
    width: 100%;
    max-width: 954px;
    max-height: 80vh;
    border: 1px solid var(--color-primary);
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    color: var(--color-text);
    background: var(--color-modal);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.modal-header {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
}

.modal-body {
    margin-bottom: 16px;
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

.modal-footer {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
    transition: opacity $duration;
}

.modal-fade-enter-active .modal-window,
.modal-fade-leave-active .modal-window {
    transition:
        transform $duration,
        opacity $duration;
}

.modal-fade-enter-from,
.modal-fade-leave-to {
    opacity: 0;
}

.modal-fade-enter-from .modal-window,
.modal-fade-leave-to .modal-window {
    opacity: 0;
    transform: translateY(10px) scale(0.10);
}
