@use 'reset-css' as *;
@use '@/assets/styles/fonts' as *;

// Helpers
@use '@/assets/styles/vars' as *;
@use '@/assets/styles/themes' as *;
@use '@/assets/styles/helpers/displaying' as *;
@use '@/assets/styles/helpers/helpers' as *;
@use '@/assets/styles/helpers/typography' as *;
@use '@/assets/styles/pages/admin-page' as *;

:root {
    --scroll-behavior: 'smooth';
    scrollbar-width: thin;
    scrollbar-color: var(--color-surface) transparent;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-surface);
        border-radius: 8px;
        border: 2px solid transparent;
        background-clip: content-box;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-surface-200);
    }
}
