@use "sass:color";
@use "sass:math";

// Transitions
$duration: 0.3s;

// Breackpoints
$desktop-s: 1120px;
$desktop-xs: 999px;
$tablet: 780px;
$mobile: 540px;
$mobile-m: 420px;
$mobile-s: 375px;
$mobile-xs: 374px;

// Цвета
$primary: #bb9265;
$white: #f4f4f4;
$black: #0e0e0e;

// Оттенки и статусные
$danger: #aa2d2a;
